
@{
    ViewBag.Title = "AddSjedista";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<body onload="onLoaderFunc()">
    <div class="container">
        <form action="#" method="post">
            <div class="w3ls-reg">
                <ul class="seat_w3ls">
                    <li class="smallBox greenBox">Selected Seat</li>

                    <li class="smallBox emptyBox">Empty Seat</li>
                </ul>
                <!-- seat availabilty list -->
                <!-- seat layout -->
                <div class="seatStructure txt-center" style="overflow-x:auto;">
                    <table id="seatsBlock">
                        <p id="notification"></p>
                        <tr>
                            <td></td>
                            @for (int i = 1; i <= @Model.brojKolona; i++)
                            {
                                @: <td>@i</td>
                            }
                        </tr>
                        @{int brojKolona = @Model.brojKolona; }
                        @{int k = 0; }

                        @foreach (var item in Model.sjedista)
                        {
                            if (k == 0)
                            {
                                @:<tr>
                                    @: <td>@item.vrsta</td>
                                }
                                if (item.status == "prolaz")
                                {
                                    @: <td></td>
                                }
                                else
                                {
                                    @:<td>
                                        @:      <input type="checkbox" class="seats" value=@(item.vrsta + "" + item.kolona)>
                                    @:</td>
                                }



                                k++;
                                if (k == brojKolona)
                                {
                                    k = 0;
                                @:  </tr>
                            }

                        }
                    </table>
                    <div class="screen2 txt-center style=" overflow-x:auto;"">
                        <button onclick="updateTextAreaKupi()">Dodaj</button>
                    </div>


                    <!-- //seat layout -->
                    <!-- details after booking displayed here -->
                    <div class="displayerBoxes txt-center" style="overflow-x:auto;">
                        <form action="#" method="post">
                            <table class="Displaytable w3ls-table" width="100%">
                                <tr>
                                    <input type="hidden" name="Seats" id="seatsDisplay" />
                                    <input type="hidden" name="Number" id="NumberDisplay" />
                                    <input type="hidden" name="idSale" value="@(Model.idSale)" />

                                    <input type="hidden" name="kupovina" value="" />
                                </tr>
                            </table>
                        </form>
                    </div>
                    <!-- //details after booking displayed here -->
                </div>
            </div>
            <!-- js -->
            <script src="js/jquery-2.2.3.min.js"></script>
            <!-- //js -->
            <!-- script for seat selection -->
            <script>
                function onLoaderFunc() {
                    $(".seatStructure *").prop("disabled", false);
                    $(".displayerBoxes *").prop("disabled", false);
                    $(".screen *").prop("disabled", true);
                }

                function takeData() {
                    if (($("#Numseats").val().length == 0)) {
                        alert("Please Enter your Name and Number of Seats");
                    } else {
                        $(".inputForm *").prop("disabled", false);
                        $(".seatStructure *").prop("disabled", false);
                        $(".screen *").prop("disabled", true);
                        document.getElementById("notification").innerHTML =
                            "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
                    }

                    if ($("input:checked").length == ($("#Numseats").val())) {
                        $(".screen *").prop("disabled", false);
                    }
                }


                function updateTextAreaRezervisi() {

                        $('input[name="kupovina"]').val(false);
                        var allNumberVals = [];
                        var allSeatsVals = [];
                        //Storing in Array
                        //allNameVals.push($("#Username").val());
                        allNumberVals.push($("#Numseats").val());
                        $('#seatsBlock :checked').each(function () {
                            allSeatsVals.push($(this).val());
                        });
                        //Displaying
                        $('#NumberDisplay').val(allNumberVals);
                        $('#seatsDisplay').val(allSeatsVals);

                }

                function updateTextAreaKupi() {
                        $('input[name="kupovina"]').val(true);
                        var allNumberVals = [];
                        var allSeatsVals = [];
                        //Storing in Array
                        //allNameVals.push($("#Username").val());
                        allNumberVals.push($("#Numseats").val());
                        $('#seatsBlock :checked').each(function () {
                            allSeatsVals.push($(this).val());
                        });
                        //Displaying
                        $('#NumberDisplay').val(allNumberVals);
                        $('#seatsDisplay').val(allSeatsVals);

                }

                function myFunction() {
                    alert($("input:checked").length);
                }

                /*
                function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
                */


                $(":checkbox").click(function () {
                    if ($("input:checked").length == ($("#Numseats").val())) {
                        $(":checkbox").prop('disabled', true);
                        $(':checked').prop('disabled', false);
                        $(".screen *").prop("disabled", false);
                    } else {
                        $(":checkbox").prop('disabled', false);
                    }
                });
            </script>
            <!-- //script for seat selection -->
        </form>

</body>

</html>

