@model AdministratorApp.Models.Vijest

@{
    ViewBag.Title = "VijestDelete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>VijestDelete</h2>

<h3>Da li ste sigurni da zelite izbrisati glumca?</h3>
<div>
    <h4>Vijest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idVijesti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVijesti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naslov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
